.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #fff;
  width: 420px;
  padding: 25px;
  border-radius: 10px;
}

.modal-box h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-group label {
  width: 120px;
  font-weight: 600;
  margin-bottom: 0;
}

.form-group input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.color-options {
  display: flex;
  gap: 12px;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.color-circle.active {
  outline: 3px solid #000;
}

.create-btn {
  float: right;
  padding: 8px 20px;
  background: #001f8b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


@media (max-width: 576px) {

.modal-box {
  width: 320px;
  padding: 25px;
}

.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group label {
  width: 100px;
  font-weight: 700;
}

.form-group input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-circle {
  width: 25px;
  height: 25px;
}

.color-circle.active {
  outline: 2px solid #000;
}

.create-btn {
  padding: 6px 15px;
}

}